.card-wrapper{
    height: 500px;
    width: 300px;
    background-color: rgb(218, 214, 214);
    margin: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    text-align: center;
    padding: 30px;
}